body {
    background-color: #f9f9f9;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
#goedgekeurdeArtikelen-overzicht .header {
    background-color: #ABD7A8;
    padding: 20px;
}
#goedgekeurdeArtikelen-overzicht .header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
}

#goedgekeurdeArtikelen-overzicht .main-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

#goedgekeurdeArtikelen-overzicht .sub-title {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;

}

#goedgekeurdeArtikelen-overzicht .table-container {
    width: 50%;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;

}
#goedgekeurdeArtikelen-overzicht .table-container table {
    width: 100%;
    border-collapse: collapse;

}#goedgekeurdeArtikelen-overzicht .table-container table td {
     border-top: 1px solid black;

 }

#goedgekeurdeArtikelen-overzicht table th, table td {
    border: none;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
}


#goedgekeurdeArtikelen-overzicht .button-container {
    text-align: center;
    margin: 20px 0 20px 0;


}

#goedgekeurdeArtikelen-overzicht .button-container button {
    padding: 20px 40px;
    background-color: #ABD7A8;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: 1px solid black;
}

#goedgekeurdeArtikelen-overzicht .button-container button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.toIndex {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.toIndex a {
    color: black;
    font-weight: bold;
}